
body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.logo {
    height: 40px;
}

.carousel-item img {
    height: 380px;      
    object-fit: cover;
}

.section-title {
    color: #17a2b8;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #eee;
    padding-bottom: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
}

.card img {
    height: 260px;         
    object-fit: cover;
}

 .col-md-8 .card img {
    height: 360px;        
} 
.card-body h6 {
    font-size: 14px;
    font-weight: bold;
}

.card-body p {
    font-size: 12px;
    color: rgb(88, 88, 88);
}

.list-group img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}

.btn-info {
    background-color: rgb(31, 201, 220);
    border: none;
}

footer {
    background: black;
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
}
